<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="WebSocketAddress" value="ws://79.172.214.20:8866"/>
    <add key="UdpAddress" value="127.0.0.1"/>
    <add key="UdpPort" value="50500"/>
    <add key="ForwardLeft" value="23"/>   <!-- pin-16 -->
    <add key="BackwardLeft" value="22"/>  <!-- pin-15 -->
    <add key="ForwardRight" value="8"/>   <!-- pin-24 -->
    <add key="BackwardRight" value="7"/>  <!-- pin-26 -->
    <add key="PwmLeft" value="27"/>
    <add key="PwmRight" value="25"/>
    <add key="StandBy" value="24"/>       <!-- pin-18 -->
    <add key="StdDutyCycle" value="0.8"/>
    <add key="StandardFrequency" value="600"/>
    <add key="MuzzleVelocity-X" value="0"/>
    <add key="MuzzleVelocity-Y" value="0"/>
    <add key="MuzzleVelocity-Z" value="0"/>
    <add key="SendingFrequency" value="10"/>  <!--every X-th occurrence of the current sampling-->
    <add key="ProcessName" value="python3"/>
    <add key="ProcessArgs" value="/home/pi/Desktop/RasPi/get_acceleration.py"/>
  </appSettings>
</configuration>